<h1>Loans</h1>

<!-- If no loans found, display loading -->
<p *ngIf="!(loans$ | async)"><em>Loading loans...</em></p>
<p>
    <a [routerLink]="['/add']" class="btn btn-primary float-right mb-3">New Loan</a>
</p>

<table class="table table-sm table-hover" 
    *ngIf="(loans$ | async)?.length>0">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Loan Taken Out</th>
            <th>Repayment</th>
            <th>Funding</th>
            <th>Left to Pay</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let loan of (loans$ | async)">
            <td>{{ loan.loanId }}</td>
            <td><a [routerLink]="['/loan/', loan.loanId]">
                {{ loan.borrowerFullName }}</a></td>
            <td>{{ loan.loanTakenOut | date: "medium" }}</td>
            <td>{{ loan.repaymentAmount | currency: "GBP" }}</td>
            <td>{{ loan.fundingAmount | currency: "GBP" }}</td>
            <td>{{ loan.leftToPay | currency: "GBP"}}</td>
            <td><a [routerLink]="['/loan/edit/', loan.loanId]" 
                class="btn btn-primary btn-sm float-right">Edit</a></td>
            <td><a [routerLink]=""
                (click)="delete(loan.loanId)"
                class="btn btn-danger btn-sm float-right">Delete</a></td>
        </tr>
    </tbody>
</table>