<h1>{{actionType}} loan</h1>
<form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    <div class="form-group row">
        <label class="control-label col-md-12">First Name</label>
        <div class="col-md-12">
            <input class="form-control" type="text" formControlName="borrowerFirstName">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Last Name</label>
        <div class="col-md-12">
            <input class="form-control" type="text" formControlName="borrowerLastName">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Funding amount</label>
        <div class="col-md-12">
            <input class="form-control" type="number" formControlName="fundingAmount">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Repayment amount</label>
        <div class="col-md-12">
            <input class="form-control" type="number" formControlName="repaymentAmount">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success float-right">Save</button>
        <button class="btn btn-secondary float-left" (click)="cancel()">Cancel</button>
      </div>
</form>